.header {
    text-align: center;
    margin-top: 30px;
}

.header img {
    height: 80px;
}

nav {
    background-color: black;
    line-height: 30px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 20px;
}

nav a:hover {
    background-color: lightgray;
    color: black;
}